@using OnlineShoppingCoreEntity;
@model IEnumerable<Product>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @foreach (Product item in Model)
    {
        <h1>@item.Name</h1>
    }
</body>
</html>
