@model ProductListViewModel
@{
    ViewData["Title"] = "List";
}

<section>
    <div class="card-outer-container">
        <div class="card-inner-container d-flex">
            @foreach (var item in Model.Products)
            {
                <partial name="_Product" for="@item" />
            }
        </div>
        <div page-model="@Model.Pageınfo"></div>
    </div>
</section>

