<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--CSS HERE-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css">
    <title>E-SHOPPİNG@*@ViewBag.Title*@</title>
</head>
<body>
    <partial name="_Navbar"></partial>
    @RenderBody()
    <footer class="footer-container">
        <div class="outer-container">
            <div class="f-inner-container d-flex">
                <div class="column">
                    <h5 class="column-header">LOGO</h5>
                    <ul>
                        <li><a id="footer-a-item" href="#">Who We Are?</a></li>
                        <li><a id="footer-a-item" href="#">Carreers</a></li>
                        <li><a id="footer-a-item" href="#">Contact Us</a></li>
                        <li><a id="footer-a-item" href="#">Sell On Our Website</a></li>
                        <h5 class="column-header">Safe Shopping</h5>
                    </ul>
                </div>
                <div class="column">
                    <h5 class="column-header">PARTNERSHİPS</h5>
                    <ul>
                        <li><a id="footer-a-item" href="#">First Partnership</a></li>
                        <li><a id="footer-a-item" href="#">Second Partnership</a></li>
                        <li><a id="footer-a-item" href="#">Third Partnership</a></li>
                        <li><a id="footer-a-item" href="#">Fourth Partnership</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h5 class="column-header">SOCIAL MEDIAS</h5>
                    <ul>
                        <li><a id="footer-a-item" href="#">Youtube</a></li>
                        <li><a id="footer-a-item" href="#">Instagram</a></li>
                        <li><a id="footer-a-item" href="#">Twitter</a></li>
                        <li><a id="footer-a-item" href="#">Facebook</a></li>
                    </ul>
                    <div class="icons-container">
                        <div class="icons-in-container">
                            <ul class="d-flex">
                                <li id="li-icon-item"><a class="icon-a-item" id="youtube" href="#"><i class="fa-brands fa-youtube"></i></a></li>
                                <li id="li-icon-item"><a class="icon-a-item" id="instagram" href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                <li id="li-icon-item"><a class="icon-a-item" id="twitter" href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                <li id="li-icon-item"><a class="icon-a-item" id="facebook" href="#"><i class="fa-brands fa-facebook"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <h5 class="column-header">HELP</h5>
                    <ul>
                        <li><a id="footer-a-item" href="#">Questions</a></li>
                        <li><a id="footer-a-item" href="#">Live Help</a></li>
                        <li><a id="footer-a-item" href="#">How To Return Back</a></li>
                        <li><a id="footer-a-item" href="#">Process Guide</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/js/script.js"></script>
</body>
</html>

